# Django e dependências
Django==5.2
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.2

# Uploads de imagem
pillow==11.1.0

# Servidor WSGI para produção
gunicorn==23.0.0

# Servir arquivos estáticos no Render
whitenoise==6.6.0