{% extends 'adolescentes/base.html' %}
{% block content %}
<h2>Check-in do dia {{ dia.data|date:"d/m/Y" }}</h2>
<form method="post">
    {% csrf_token %}
    <ul class="list-group mb-3">
        {% for adolescente in adolescentes %}
        <li class="list-group-item">
            <label>
                <input type="checkbox" name="presentes" value="{{ adolescente.id }}" {% if adolescente.id in presentes_ids %}checked{% endif %}>
                {{ adolescente.nome }} {{ adolescente.sobrenome }}
            </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-success">Salvar Check-in</button>
</form>
{% endblock %}