/* Tema Claro (Padrão) */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema Escuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

/* Estilizar o botão */
#dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#dark-mode-toggle:hover {
    background: #666;
}
