/* Tema Claro (Padrão) */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema Escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Ajustes no cabeçalho no modo escuro */
body.dark-mode nav {
    background-color: #1e1e1e;
}

body.dark-mode h1,
body.dark-mode nav span,
body.dark-mode nav a {
    color: #ffffff;
}

/* Botão "Sair" no modo escuro */
body.dark-mode .btn-danger {
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}

/* Estilizar o botão de alternância */
#dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

#dark-mode-toggle:hover {
    background: #666;
}